body {
    background: url(../images/numeros.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.texto1 {
    width: 500px;
    position: absolute;
    top: 1px;
    right: 0;
    margin: 170px 1130px 0px 0px;
    background-color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    border: 6px solid rgb(0,0,0);
    border-radius: 20px;
    padding: 8px;
}

.texto2 {
    width: 350px;
    position: absolute;
    top: 230px;
    right: -90px;
    margin: 60px 1300px 0px 0px;
    background-color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    border: 6px solid rgb(0,0,0);
    border-radius: 20px;
    padding: 8px;
}

input {
    margin: 450px 10px 0px 150px;
    text-align: center;
    font-size: 40px;
}

button {
    font-size: 30px;
}

#result {
    background-color: white;
    margin: 60px 950px 0px 0px;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
}

#result a {
    border: 20px solid rgb(0,0,0);
    border-radius: 6px;
    padding: 10px;
}
